.pokemon-detail_container{
    display: flex;
    font-family: 'VT323', monospace;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 2rem;
}

.pokemon-detail_card{
    background: #f3f3f3;
    border: 3px solid #030303;
    border-radius: 1rem;
    min-width: 20%;
    margin: 0 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.pokemon-detail_card .title{
    background: #222831;
    width: 100%;
    color: #eeeeee;
    border-radius: .65rem .65rem 0rem 0rem;
    text-align: center;
}

.pokemon-detail_card p{
    border-bottom: 2px solid #3333;
    width: 80%;
    text-align: center;
}

.stats-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.back-button{
    background: #222831;
    color: #eeeeee;
    position: fixed;
    font-size: 2rem;
    left: 1rem;
    top: 5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.back-button:hover{
    background: #333;
    border: 2px solid #eeeeee;
}

@media only screen and (max-width: 600px){
    .pokemon-detail_container{
        flex-direction: column;
    }
    .pokemon-detail_card{
        margin-top: 1rem;
    }
}